
@{
    var folio = ViewBag.Folio as string;
}

<div id="notificacion-reporte"
     data-folio="@ViewBag.Folio"
     data-linea="@ViewBag.Linea"
     data-hora="@ViewBag.Hora"
     data-status="@ViewBag.Status">
</div>